ul{
    list-style-type: none;
   
}
#top-bar a{
     list-style: none;
      color: white !important;
      text-decoration: none !important;
 }
 
#top-bar{
    background-color: #056CB6 ;
    min-width: 50px;
    line-height: 50px;
}
#top-bar li{
    float: left;
    margin-right: 20px;
}
.social i{
    min-width: 50px;
    line-height: 50px;
    color:#5ab2f1 ;
    font-size: 24px;
    float: right;
}
.navbar .nav-item .dropdown-menu {
    background-color: transparent;
    padding: 0;
    margin-top: 15px;
}
.navbar .nav-item .dropdown-menu a{
    border-top-width: 0.5px;
    border-bottom: 1px solid;
    border-color: #fff;
    background-color:#056CB6;
    color:#fff;
}
.navbar .nav-item .dropdown-menu a:hover{
    background-color: #F2C94C;
}

#about,#service {
    margin: 60px 0;
}
#about .title,.title{
    font-size: 24px;
    color:#2F80ED ;
    font-weight: 700;
    margin-bottom: 20px;
}
#about .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
  
}
#line {
    height: 12px;
    width: 100%;
    background-color: #C4C4C4;
}
 #service .content,#gallery .content{
      text-align: center;
 }
 #service .item-service, #gallery .item-gallery {
     margin: 10px 0;
 }

 #service .item-service .card-title{
    color: #333; 
 }
 #service .item-service .card-title:hover{
    color: #F2C94C; 
 }
 #service .item-service .card-text{
     font-size: 14px;
      color: #333;
 }
 #whychooseus {
     background-image: url("/img/whybg.jpg");
     background-repeat: no-repeat, repeat;
      width: 100%;
 }
 #whychooseus .content{
      height: 480px;
      display: flex;
        flex-direction: column;
     align-items: flex-start;
    justify-content: center
 }
 #whychooseus .content h6{
    color:#2F80ED ;
 }
 #whychooseus .content .items{
     margin-bottom: 10px;
 }
 #gallery{
     margin-top: 30px;
 }
 #gallery  button {
     margin: 30px 0;
      font-weight: 600;
       color: #fff;
 }
 #testimonial{
    
    padding: auto 0;
    height: 320px;
     margin: 30px 0;
     text-align: center;
 }
 #testimonial .container {
    background-color: #F8FAF5;
  
 }
 #testimonial .container {
    padding: 50px 0;
 }
 #testimonial .container .carousel-indicators{
     top:200px
 }
 #testimonial .container .carousel-indicators li {
     width: 10px;
     height: 10px;
     background-color: #ffc107;
     border-width: 1px;
     border-radius: 20px;
     
 }
 #blogs {
     text-align: center;
      margin: 60px 0;
 }
 






